*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #6a0dad;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#calculator{
    background-color: rgba(48, 15, 79, 0.959);
    border-radius: 20px;
    width: 500px;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
     background: linear-gradient(125deg, #6a0dad, #ff69b4);
    
    
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    
}
button{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(80, 43, 116);
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
#display{
    width: 457px;
    padding: 20px;
    text-align: left;
    border: none;
     background-color: rgba(48, 15, 79, 0.959);
     border-radius: 20px;
     color: white;
     font-size: x-large;

}
